{
  "plugins": [
    "prettier"
  ],
  
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  
  "env": {
    "browser": true,
    "node": true
  },
  
  "rules": {
    "no-new": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-alert": "off",
    "no-undef": "off",
    "no-continue": "off",
    "import/extensions": "off",
    "prefer-template": "off",
    "prefer-destructuring": "off",
    "max-depth": ["error", 2],
    "eol-last": ["error", "always"]
  }
}
