#app {
  padding: 20px;
}

header {
  margin-bottom: 60px;
}

h1 {
  font-size: 30px;
  display: inline-block;
  margin: 10px 0;
}

section {
  margin-bottom: 60px;
}

input {
  padding: 5px;
}

.beverage_icon {
  width: 50px;
  vertical-align: middle;
}

button {
  /* margin: 0 5px; */
  padding: 5px 10px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 80px;
}
