#app {
  padding: 40px;
}
.header {
  display: flex;
  align-items: center;;
}
.header span {
  line-height: 32px;
  font-size: 32px;
  font-weight: 800;
}
.header img {
  height: 40px;
  width: auto;
}