#app {
  padding: 40px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.header span {
  line-height: 28px;
  font-size: 28px;
  font-weight: 800;
}
.header img {
  height: 40px;
  width: auto;
}

.tab-menu {
  margin-bottom: 10px;
}