<h2>상품 추가하기</h2>
<form>
    <input type="text" placeholder="상품명" id="product-name-input"/>
    <input type="number" placeholder="가격" id="product-price-input"/>
    <input type="number" placeholder="수량" id="product-quantity-input"/>
    <button id="product-add-button">추가하기</button>
</form>

<h2>상품 현황</h2>
<table>
    <th>상품명</th>
    <th>가격</th>
    <th>수량</th>
    <!-- <tr class="product-manage-item">
        <td class="product-manage-name">dd</td>
        <td class="product-manage-price">s</td>
        <td class="product-manage-quantity">ss</td>
    </tr> -->
</table>